body{
background-image:url('https://raw.githubusercontent.com/aubinwhite/websiterepo3/master/images/pinstripe.png');
background-repeat:repeat;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  text-align: center;
}

.header {
  background-color: #5FE80C;
  border: 2px solid #FF3C00;
  border-radius: 8px;
  text-align: center;
}

.header img {
  float: none;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 150px;
  height: 150px;
}

.btn-group button {
  background-color: #FF3C00; /* Green background */
  border: 2px solid #5FE80C;
  border-radius: 6px;
  color: #0D15FF; /* White text */
  font-family: 'Merriweather', serif;
  font-stretch: expanded;
  font-size: 150%;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  height: 60px;
  margin-top: 1.1%;
  margin-bottom: 1.1%;
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #5FE80C;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 80px;
   background-color: #5FE80C;
   color: #0D15FF;
   padding-top: 10px;
   font-family: 'Merriweather', serif;
   font-stretch: expanded;
   font-size: 150%;
   text-align: center;
   border: 2px solid #FF3C00;
   border-radius: 6px;
}
