
body{
background-image:url('https://raw.githubusercontent.com/aubinwhite/websiterepo3/master/images/blucrctbrdptrn.png');
background-repeat:repeat;
}

* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}



.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 80px;
   background-color: #5FE80C;
   color: #0D15FF;
   padding-top: 7px;
   font-family: 'Merriweather', serif;
   font-size: 125%;
   text-align: center;
   border: 2px solid #FF3C00;
   border-radius: 6px;
}

